* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Open Sans', sans-serif;
}
  
.container {
    padding: 50px;
}
  
.card {
    /*overflow va inserito nel contenitore padre rispetto al quale può avvenire il traboccamento di un elemento al suo interno*/
    margin: 0 auto;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    background-image: url("assets/marburg.jpg");
    background-size: contain;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

.save {
    right: 20px;
    top: -45px;
    background-color: red;
    color: #fff;
    transition: top 0.2s ease-in;
}

.card:hover .save {
    top: 20px;
}

.bottom > div {
    /* position: absolute; */
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    bottom: -45px;
    transition: bottom 0.2s ease-in-out, opacity 0.4s ease-in-out;
}
  
.label:hover,
.action:hover,
.dots:hover {
    opacity: 1;
}
  
.card:hover .label,
.card:hover .action,
.card:hover .dots {
    bottom: 15px;
}
  
.label {
    left: 15px;
}
  
.action {
    right: 80px;
}

.card, .save, .bottom > div {
    border-radius: 25px;
}

.save, .bottom > div {
    position: absolute;
    cursor: pointer;
    padding: 10px 15px;
}

.save, .dots {
    right: 20px;
}